:root {
    --background:#304C59;
    --yellow:#F5E18E;
    --glass:#d9d9d94f;
    --heading-one:75px;
    --heading-two:50px;
    --text:18px;
    --subheading:30px;
    --tag:22px;
    --mobile-heading-one:50px;
    --mobile-heading-two:30px;
    --mobile-text:14px;
    --mobile-subheading:20px;
    --mobile-tag:18px;
}

*,
*::before,
*::after {
    font-family: 'Merriweather', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}

.hollow-button {
    background-color:transparent;
    border-radius:0.25rem;
    padding:0.75rem 2rem;
    font-family: 'Permanent Marker', cursive;
    color:var(--yellow);
    border:2px solid var(--yellow);
    cursor:pointer;
    transition:500ms;
    font-size:20px;
}
.solid-button {
    background-color:var(--yellow);
    border-radius:0.25rem;
    padding:0.75rem 2rem;
    font-family: 'Permanent Marker', cursive;
    color:black;
    border:2px solid var(--yellow);
    cursor:pointer;
    transition:500ms;
    font-size:20px;
}
.hollow-button:hover {
    background-color:var(--yellow);
    color:var(--background);
    transition:500ms;
    transform:scale(0.9);
}
.solid-button:hover {
    transform:scale(0.9);
    transition:500ms;
}
ul {
    list-style:none;
}
a {
    color:white;
    text-decoration:none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
body {
    background: var(--background);
}

/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:var(--green);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.432);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}


/* Header */
header {
    position:fixed;
    z-index:1000000;
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
    display:flex;
    justify-content: space-between;
}
.header-left {
    width:15%;
   display:flex;
   align-items: center;
   justify-content: flex-start;
}
.header-right {
   width:15%;
   display:flex;
   align-items: center;
   justify-content: flex-end;
   gap:1rem;
}
nav {
    width:70%;
    display:flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav,
    .header-right{
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}

/* Main */
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size:var(--heading-one);
    text-align:center;
}
main {
    background-image: linear-gradient(to top, #304C59, #304C5900 30%), url(mfm-home/618-1.png);
    background-size:cover;
    background-position: center;
}
main .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block:16rem;
    
}
.titles {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.titles p {
    font-weight:300;
    line-height:1.75;
    text-align:center;
}
.times-of-service > p {
    font-family: 'Merriweather', serif;
    font-size:var(--mobile-subheading);
} 
@media (max-width:946px) {
    h1 {
        font-size:65px;
    }
    
}
@media (max-width:842px) {
    h1 {
        font-size:60px;
    }
    
}
@media (max-width:788px) {
    h1 {
        font-size:50px;
    }
    
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:606px) {
    h1 {
        font-size:var(--mobile-heading-one);
    }
    .titles p {
        font-size:var(--mobile-text);
        max-width:40ch;
    }
    .times-of-service {
        bottom:10% !important;
    }
    .times-of-service > p {
        font-family: 'Merriweather', serif;
        font-size:var(--mobile-subheading);
    } 
    .list p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
}

/** List **/

main .wrapper {
    position:relative;
}


.times-of-service {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    position:absolute;
    left:5%;
    bottom:5%;
    width:max(30%, 20em);
    background-color:var(--glass);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);    
    padding:1rem;
    border-radius:1rem;
}
.list {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:100%;
}
.list-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height:100%;
    gap:1rem;
}
@Media (max-width:350px) {
    .times-of-service {
        width:max(30%, 18em);

    }
}
@Media (max-width:320px) {
    .times-of-service {
        width:max(30%, 17em);

    }
}
@Media (max-width:296px) {
    .times-of-service {
        width:max(28%, 16.5em);
    }
    h1 {
        font-size:45px;
    }
}
/* Founder */

.founder-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
    padding-left:0;
}
.founder-left,
.founder-right {
    width:50%;
}
.founder-left img {
    width:100%;
    object-fit:cover;
}
.founder-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.founder-right h2 {
    font-size:var(--heading-two);
    
}
.founder-right h2 span img {
    margin-bottom:0.5rem;
}
.founder-right p {
    font-size:var(--text);
    max-width:45ch;
    line-height:1.75;
}
@media (max-width:1015px) {
    .founder-section .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .founder-left,
    .founder-right {
        width:100%;
    }
    .founder-right {
        padding-left:4rem;
    }
    .founder-right h2 {
        max-width:20ch;
    }
}
@media (max-width:700px) {
    .founder-right {
        padding-left:2rem;
    }
    .founder-section .wrapper {
        padding-right:2rem;
    }
}
@media (max-width:606px) {
    .founder-right h2 {
        font-size:var(--mobile-heading-two);
    }
    .founder-right p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .founder-right {
        padding-left:1rem;
    }
    .founder-section .wrapper {
        padding-right:1rem;
    }
}
@media (max-width:350px) {
    .founder-right {
        gap:1rem;
    }
}

/* Intro Section */
.intro-section {
    background-image: linear-gradient(to top, #304C59, #304C5900 75% ),linear-gradient(to bottom, #304C59, #304C5900 75% ), url(mfm-home/dock-5539524_1920.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    
}
.intro-titles h2 {
    font-size:var(--heading-two);
    font-family: 'Permanent Marker', cursive;
    text-align:center;
}
.intro-titles p {
    font-family: 'Permanent Marker', cursive;
    color:var(--yellow);
    font-size:var(--tag);
    text-align:center;
}
.intro-titles {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.intro-titles h2 img {
    margin-bottom:0.75rem;
}
.intro-titles h2 span:nth-child(2) img {
    margin-left:1rem;
    
}
.intro-main {
    display:flex;
    align-items: center;
    gap:4rem;
    width:100%;
}
.intro-left,
.intro-right {
    width:50%;
}
.intro-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.intro-left-titles {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.intro-left-titles p {
    color:var(--yellow);
    font-size:var(--tag);
    font-family: 'Permanent Marker', cursive;
}
.intro-left > p {
    line-height:1.75;
    font-weight:300;
    max-width:40ch;
}
.intro-left-titles h2 {
    font-size:var(--heading-two);
    font-family: 'Permanent Marker', cursive;
}
.intro-right {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    place-items: flex-end;

}
.grid-item {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.grid-item img {
    width:50px;
}
.grid-item p {
    line-height:1.75;
    font-weight:300;
    max-width:20ch;
}

@media (max-width:1015px) {
    .intro-main {
        flex-direction: column;
        align-items: flex-start;
    }
    .intro-right {
        width:100%;
    }
    .grid-item {
        width:100%;
    }
   
    
} 
@media (max-width:728px) {
    .intro-left > p {
        max-width:100ch;
        width:90% !important;
    }
    .intro-left {
        width:100%;
    }
    
} 
@Media (max-width:769px) {
    .intro-titles h2 {
        font-size:40px;
    }
    .intro-titles h2 img {
        width:75px;
    }
}
@Media (max-width:606px) {
    .intro-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .intro-titles p {
        font-size:var(--mobile-tag);
    }
    .intro-left-titles h2{
        font-size:var(--mobile-heading-two);
    }
    .intro-left-titles > p {
        font-size:var(--mobile-tag);
    }
    .intro-left > p {
        font-size:var(--mobile-text);
    }
    .grid-item p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:700px) {
    .intro-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .intro-section .wrapper {
        padding-inline:1rem;
    }
    .intro-left > p {
        max-width:100ch;
        width:100% !important;
    }
   
    .grid-item {
        display:flex;
        align-items: center;
        text-align:center;
    }
}
@Media (max-width:324px) {
    .grid-item p {
        font-size:12px;
    }
}



/** Quote Section **/

.quote-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-block:12rem;
}
.quote-section .wrapper p {
    font-size:60px;
    font-family: 'Merriweather', serif;
    line-height:1.75;
    font-weight:300 !important;
}
@media (max-width:700px) {
    .quote-section .wrapper {
        padding-inline:2rem;
        padding-block:2rem !important;
    }
    .quote-section .wrapper p {
        font-size:40px;
    }
}
@media (max-width:500px) {
    .quote-section .wrapper {
        padding-inline:1rem;
    }
    .quote-section .wrapper p {
        font-size:30px;
    }
    
}
/** Series Section **/

.series-section {
    background-image: linear-gradient(to bottom, #304C59, #304C5900 60% ), linear-gradient(to top, #304C59, #304C5900 60% ), url(mfm-home/freedom-2053281_1920.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.series-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block:12rem;
    gap:8rem;
}
.series-content {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;

}
.bottom-right,
.top-left {
    width:50%;
}
.bottom-right {
    align-self:flex-end;
}
.series-section p {
    width:100%;
    line-height:1.75;
    font-size:var(--text);
}
.series-section button {
    display:flex;
    align-items: center;
    padding:0.5rem 2rem;
    background-color:transparent;
    color:var(--yellow);
    border:2px solid var(--yellow);
    border-radius:2rem;
    margin-top:1rem;
    gap:1rem;
    border-radius:0.25rem;
    padding:0.75rem 2rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    cursor:pointer;
    transition:500ms;

}
.series-section button:hover {
    transform:scale(0.9);
    transition:500ms;
}
.series-section button img {
    width:7.5px;
}
.series-titles {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.series-titles p {
    width:max-content;
    font-size:var(--tag);
}
.series-titles h2 img {
    margin-bottom:0.75rem;
}
.series-titles h2 span:nth-of-type(2) img {
    margin-bottom:0.75rem;
    margin-left:0.5rem;
}
.series-titles h2 {
    font-size:var(--heading-two);
    font-family: 'Permanent Marker', cursive;
    text-align:center;

}
@media (max-width:1015px) {
    .series-titles h2 {
        font-size:40px;
    }
    .series-titles img {
        width:100px;
    }
}
@media (max-width:821px) {
    .series-titles h2 {
        font-size:35px;
    }
    .series-titles img {
        width:75px;
    }
    .series-titles p {
        
        font-size:20px;
    }
}

@Media (max-width:700px) {
    .series-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:647px) {
    .series-titles h2 {
        font-size:30px;
    }
    .series-titles img {
        width:65px;
    }
    .series-titles p {
        
        font-size:18px;
    }
}
@media (max-width:606px){
    .series-content p {
        font-size:var(--mobile-text);
    }
}


@media (max-width:564px) {
    .series-titles h2 {
        font-size:30px;
    }
    .series-titles img {
        width:30px;
    }
    .series-titles p {
        
        font-size:18px;
    }
}
@Media (max-width:500px) {
    .series-section .wrapper {
        padding-inline:1rem;
    }
}
@Media (max-width:466px) {
    h2 img {
        display:none;
    }
}
@Media (max-width:432px) {
    .series-section button {
        padding-inline:1rem;
    }
}
@Media (max-width:400px) {
    .bottom-right,
    .top-left {
        width:70%;
    }
}

/* Banner Section ***/

.banner-section img {
    width:100%;
}
.banner-section {
    padding-block:20rem;
    background-image: linear-gradient(to top, #304C59, #304C5900 60%), linear-gradient(to bottom, #304C59, #304C5900 60%), url(mfm-home/ResurrectionDay1.png);
    background-size:cover;
    background-repeat:no-repeat;
    margin-block:12rem;

}
@media (max-width:1015px) {
    .banner-section {
        margin-block:6rem;
    }
}
@media (max-width:500px) {
    .banner-section {
        margin-block:2rem;
    }
}